<% include linking %>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  *{
    background: -webkit-radial-gradient(red,pink);
  
  }
 
  
</style>
</head>
<body>

<div id = "nav">
  <div><img src="crop.jpg" style="max-width:100%;height:auto;">
    <!-- <div id="heading">GRANT-LIV</div> -->
  </div>
</div>
<hr/>