<% include partials/header %>
<div class="container">
    <div class="row">

<div class="col-md-3 col-sm-12">
<iframe width="450" height="260" style="border: 2px solid#790d0d;" 
src="https://thingspeak.com/channels/615754/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15">
</iframe>    
</div>
<div class="col-md-3 col-sm-12"></div>
<div class="col-md-3 col-sm-12">
<iframe width="450" height="260" style="border: 2px solid #790d0d;" src="https://thingspeak.com/channels/615754/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
 </div>
 </div>
</div>